.app{
  max-width: '768px';
  position: flex;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: fixed;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
